<!DOCTYPE html>
<html>
<head>
	<title>Housing Price Prediction</title>
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
	<header>
		<h1>HOUSE HUNTERS</h1>
		<div id="written">
		<p id="p1">Searching for your <b>DREAM HOME</b> ?</p>
		<p id="p2">THEN </p>
		<p id="p3"> We are here to help you out </p> 
		</div>
	</header>
	{% block content %}
	{% endblock %}
	<footer>
		<h3>contact us at : <a href="">www.househunters.com</a></h3>
	</footer>
</body>
</html>